GCP_PROJECT_ID=replace-me
SENSOR_INTERFACE=eth0

HONEYPOT_ADDR=:80
HONEYPOT_LOG_DIR=/var/log/honeypot

SURICATA_TOPIC=alerts.suricata
ZEEK_TOPIC=events.zeek
HONEYPOT_TOPIC=honeypot.requests
NORMALIZED_TOPIC=events.normalized

LOG_SHIPPER_POLL=5s
